@import url(http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css);

span.srcwrd {
	color: red;
}

div.maindiv {
	text-align: center;
	margin-right:5%;
	margin-left:5%;
}

h1.thetitle {
    color: #0431B4;
}